#but{ 	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #D91D30), color-stop(0.4, #D31B2E), color-stop(0.5, #AE1524), color-stop(1.0, #710914));
	background: -webkit-linear-gradient(top, #D91D30 0.0%, #D31B2E 40.5%, #AE1524 54.1%, #710914 100.0%);
	background: -moz-linear-gradient(top, #D91D30 0.0%, #D31B2E 40.5%, #AE1524 54.1%, #710914 100.0%);
	background: -ms-linear-gradient(top, #D91D30 0.0%, #D31B2E 40.5%, #AE1524 54.1%, #710914 100.0%);
	background: -o-linear-gradient(top, #D91D30 0.0%, #D31B2E 40.5%, #AE1524 54.1%, #710914 100.0%);
	background: linear-gradient(top, #D91D30 0.0%, #D31B2E 40.5%, #AE1524 54.1%, #710914 100.0%);
	box-shadow: inset 0px 2px 2px #3A3A3A;
	-webkit-box-shadow: inset 0px 2px 2px #3A3A3A;
	-moz-box-shadow: inset 0px 2px 2px #3A3A3A;
	text-align: center;
	text-indent: 0px;
	color: #FFFFFF;
	text-shadow: #2D2D2D 0px -1px 0px;	

height: 34px;

	font-family: 'FuturaTOTBold';
	font-size: 20px;	
}

#but_over{ 	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #EB7C23), color-stop(0.4, #F99646), color-stop(0.5, #DA711D), color-stop(1.0, #72380A));
	background: -webkit-linear-gradient(top, #EB7C23 0.0%, #F99646 40.5%, #DA711D 54.1%, #72380A 100.0%);
	background: -moz-linear-gradient(top, #EB7C23 0.0%, #F99646 40.5%, #DA711D 54.1%, #72380A 100.0%);
	background: -ms-linear-gradient(top, #EB7C23 0.0%, #F99646 40.5%, #DA711D 54.1%, #72380A 100.0%);
	background: -o-linear-gradient(top, #EB7C23 0.0%, #F99646 40.5%, #DA711D 54.1%, #72380A 100.0%);
	background: linear-gradient(top, #eb7e23 0%, #f99646 40.5%, #da711d 54.1%, #72380a 100%);
	box-shadow: inset 0px 2px 2px #3A3A3A;
	-webkit-box-shadow: inset 0px 2px 2px #3A3A3A;
	-moz-box-shadow: inset 0px 2px 2px #3A3A3A;
	text-align: center;
	text-indent: 0px;
	color: #FFFFFF;
	text-shadow: #2D2D2D 0px -1px 0px;


height: 34px;

	font-family: 'FuturaTOTBold';
	font-size: 20px;	
}

#but_inhalt{ 
	text-align: center;
	text-indent: 0px;
	color: #FFFFFF;
	text-shadow: #2D2D2D 0px -1px 0px;

	font-family: 'FuturaTOTBold';
	font-size: 20px;	
}


#Input{
	text-align: center;
	color: #710914;
	font-family: 'FuturaTOTBold';
	font-size: 20px;
	
}							
