@font-face {
    font-family: 'ds-digitalnormal';
    src: url('ds-digi-webfont.eot');
    src: url('ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ds-digi-webfont.woff') format('woff'),
         url('ds-digi-webfont.ttf') format('truetype'),
         url('ds-digi-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}