@font-face {
    font-family: 'AaBbCcRegular';
    src: url('schuldruck.eot');
    src: url('schuldruck.eot?#iefix') format('embedded-opentype'),
         url('schuldruck.woff') format('woff'),
         url('schuldruck.ttf') format('truetype'),
         url('schuldruck.svg#AaBbCcRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}